<ion-view view-title="OpenBadge" class="meeting-page">
  <!-- <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-person-add" menu-toggle="left">
      </button>
  </ion-nav-buttons> -->


  <ion-content>
    <div class="content-center">

      <div class="card">
        <div id="meeting-mediator" class="meeting-mediator" style="height:350px;width:100%"></div>
      </div>

      <!-- TODO: only in god mode? -->
      <div ng-repeat="(n, d) in data" class="card">
        {{n}}
        <canvas id="line" class="chart chart-line" chart-data="data[n]"
                chart-labels="labels[n]" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride">
        </canvas>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced start-button" ng-click="leaveMeetingConfirm()">
    <div class="title">End Meeting</div>
  </div>

</ion-view>
